<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navigation.ejs')%>
    <main>
      <% if (products.length > 0) {%>
      <ul>
        <% products.forEach(p => { %>
        <li>
          <h4><%= p.productData.title %> (<%= p.quantity %>)</h4>
          <p><%= p.productData.description %></p>

          <h3>$<%= p.priceProducts %></h3>
          <form action="/cart-delete-item" method="POST">
            <input
              type="hidden"
              value="<%=p.productData.id%>"
              name="productId"
            />
            <button class="btn" type="submit">Delete</button>
          </form>
        </li>
        <hr />
        <% }) %>
      </ul>
      <hr />
      <h3>total price</h3>
    </n>
    <h2>$<%= totalPrice %></h2>

      <% } else { %>
      <h1>No Products in the Cart!!</h1>
      <% } %>
    </main>
  </body>
</html>
