<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navigation.ejs')%>
    <main>
      <% if (orders.length > 0) {%>
      <ul class="cart__item-list">
        <% orders.forEach(order => { %>
        <li class="cart__item">
          <h1>ID :<%= order.id %></h1>
          <% products.forEach(product => { %>
          <h3><%= product.title %></h3>
          <h3>quantity : <%= product.OrderItem.quantity %></h3>
          <h3>cost : $ <%= product.OrderItem.cost %></h3>

          <% }) %>
        </li>
        <% }) %>
      </ul>
      <br />

      <hr />
      <br />

      <% } else { %>
      <h1>No Orders !!</h1>
      <% } %>
    </main>
  </body>
</html>
